:root {
  /* Theme Colors */
  --panel: #eaeaea;
  --primary: #cbc5ea;
  --primary-90: #cbc5eae6;
  --primary-50: #cbc5ea80;
  --primary-30: #cbc5ea4d;
  --primary-10: #cbc5ea1a;
  --active: #73628a;
  --active-90: #73628ae6;
  --active-50: #73628a80;
  --active-30: #73628a4d;
  --active-10: #73628a1a;
  --secondary: #313d5a;
  --secondary-90: #313d5ae6;
  --secondary-50: #313d5a80;
  --secondary-30: #313d5a4d;
  --secondary-10: #313d5a1a;
  --border: #183642;

  /* Z-Indices*/
  --z-index-about-background: 10;
  --z-index-about-content: 11;
  --z-index-sidebar: 50;
  --z-index-sidebar-hamburger: 51;

  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
