@import "tailwindcss";

@theme {
  /* Theme Colors */
  --color-panel: #eaeaea;
  --color-primary: #cbc5ea;
  --color-secondary: #73628a;
  --color-tertiary: #313d5a;
  --color-border: #183642;

	--hover-overlay: linear-gradient(
		0deg,
		rgb(186 194 207 / 30%),
		rgb(186 194 207 / 30%)
	);
	--press-overlay: linear-gradient(
		0deg,
		rgba(255 255 255 / 30%),
		rgba(255 255 255 / 30%)
	);

  /* Z-Indices*/
  --z-index-about-background: 10;
  --z-index-about-content: 11;
  --z-index-sidebar: 50;
  --z-index-sidebar-hamburger: 51;
}

@utility bg-hover {
	background-image: linear-gradient(0deg, rgb(255, 255, 255, 10%), rgb(255, 255, 255, 10%));
}

@utility bg-active {
	background-image: linear-gradient(0deg, rgb(255, 255, 255, 20%), rgb(255, 255, 255, 20%));
}

:root {
  font-family: sans-serif;
  overflow: hidden;
}
